<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        strict="true"
        bootstrap="bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="gelf-php Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
